{% extends "header_p.html" %}

{% block body %}
<div class="container-fluid">
	<h3>Messages</h3>
	<br>
	<form action="" class="form-horizontal" method="post">		
		<b>Ask Query:</b>
		<input type="text" class="form-control" name="query" value="{{request.form.query}}"><br>
		<input class="btn btn-default" type="submit" value="Submit">		
	</form>
	<br><br>
	<table class="table" cellpadding="5" cellspacing="5">
		<thread>
			<tr class="danger">
				<th>Date Time</th>
				<th>Messages</th>

			</tr>
		</thread>
		<tbody>
		{% for row in data %}
			<tr>
			{%  for d in row %}
				<td>{{ d }}</td>	
			{% endfor %}
			</tr>
		{% endfor %}
	
	</table>
</div>
{% endblock %}
